<div class="container">
  <app-navi></app-navi>
  <div class="row mt-2">
    <div class="col-sm-2">
      <app-brand></app-brand>
    </div>
    <div class="col-sm-2">
      <app-color></app-color>
    </div>
    <div class="col-sm-8">
      <app-car-detail-dto></app-car-detail-dto>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-6">
      <app-customer-detail-dto></app-customer-detail-dto>
    </div>
    <div class="col-sm-6">
      <app-rental-detail-dto></app-rental-detail-dto>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
